@mixin colwidth {
  @for $size from 1 through $cols {
    @for $length from $size through $cols {
      .col-#{$size}-of-#{$length} {
        width: calc-col-width($size, $length);
      }
    }
  }
}

// VARIABLES GRID
$cols: 4;
$grid-width: 100%;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// SERVICES
.services {
  padding: 5rem 0;
  background: $dark-grey;
  text-align: center;
}

.service span {
  display: inline-block;
  color: $primary-color;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.services h6 {
  letter-spacing: $main-spacing;
}

.services p {
  width: 80%;
  margin: 0 auto;
}

// TITLE
.title {
  text-align: center;
  margin-bottom: 4rem;
  background-color: red;

  h4 {
    font-size: 3rem;
    letter-spacing: $main-spacing;
    text-transform: capitalize;
    margin-bottom: 1rem;
  }

  div {
    width: 5rem;
    height: 5px;
    margin: 0 auto;
    background: BLUE;
  }
}

// GRID

.grid {
  h1 {
    font-family: "Abel", sans-serif;
    font-size: 4.2rem;
  }

  &__element {
    animation: fadein 0.5s;
  }
}

.row {
  max-width: $grid-width;
  margin: 0 auto;
  background-color: yellow;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  @include clearfix;
  @include colwidth;

  [class^="col-"] {
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }

  //esto lo añado yo
  .services-center {
    width: 90vw;
    margin: 0 auto;
    background-color: purple;
    /*display: flex; // lo añado yo
    flex-wrap: nowrap;
    flex-flow: row nowrap;
    justify-content: space-around;*/
  }
  .col-1-of-4 {
    background-color: orange;
    // width: 50%;
  }
  article {
    background-color: green;
    //margin: 10px;
    //width: 100%;
  }
}
